# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Raw data
raw_data/*
!raw_data/.gitkeep

# Generic outputs
outputs/*
!outputs/.gitkeep

# Model checkpoints
*.pt
*.pth

# Large arrays and archives
*.npy
*.npz
*.zip

# Logs
*.log